*.pyc
__pycache__
myvenv
db.sqlite3
thdata.csv
.DS_Store
extradata.csv
venv
*.geany
*.yml
/chartx
/C_Python_sensor_driver

/Adafruit_Python_DHT
/build
secureFile.py
myenvctl.log
location.py
zone1db.db
zone2db.db
zone3db.db
.Trash-1000/*
/RF24
